
/*Código CSS general*/
.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}






/*Codigo Yosh CSS*/ 
.principal-header{
  height: 183px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.local-nav-logo {
  width: 230px;
  height: 100px;
  overflow: hidden;
}

.local-nav-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.listIcons{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
}


.social-icon{
  list-style-type: none;
  margin-right: 10px;
}

.social{
  margin-right: -20px;
}

.social-icon button {
  border: none;
  background: none;
  padding: 0;
}

.h3 {
  color: white !important;

}

.local-nav-logo{
  margin: 34px;
}

.searchbar{
  margin: 52px;
}

.social-links{
  margin: 40px;
}

.searsicon{
  margin-left: 40px;

}

a:visited {
  color: #99999999;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.SubBarInfor{
  background-color: #0a0b0b;
  width: 100vw;
  height: 66px;
  padding-top: 10px;
  border-top: #dddddddd solid 1px;
}

.SubBarListLI{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AppBarInfoDiv{
  margin-left: 52px;
}














/*
Codigo CCS de Peter
*/
.carousel {
  background-color: black;
}
.carousel-item img {
  width: 100%; /* Ajusta el ancho de las imágenes según tus necesidades */
  height: auto; /* Ajusta la altura de las imágenes según tus necesidades */
}

.carousel-caption {
  color: white; /* Cambia el color del texto de la descripción */
}

.carousel-caption h3 {
  font-size: 24px; /* Ajusta el tamaño del título */
}

.carousel-caption p {
  font-size: 16px; /* Ajusta el tamaño del texto de descripción */
}

.carousel-caption a {
  color: yellow; /* Cambia el color de los enlaces */
}

.carousel-caption button {
  background-color: blue; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
  border: none; /* Quita los bordes del botón si lo deseas */
  padding: 10px 20px; /* Ajusta el padding del botón según tus necesidades */
}

.carousel-indicators .thumbnail-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.carousel-indicators .thumbnail-caption h5,
.carousel-indicators .thumbnail-caption p,
.carousel-indicators .thumbnail-caption a {
  margin: 0;
  padding: 0;
}

.carousel-indicators .thumbnail-caption h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.carousel-indicators .thumbnail-caption p {
  font-size: 14px;
}

.carousel-indicators .thumbnail-caption a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}










/*
Codigo CCS de Tony
*/
.bond {
  padding: 32px 22px;
  background-image: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/footer/flourish-6a31057fffa9.svg);
  background-repeat: no-repeat;
  background-position: 22px 0;
  background-size: 52px 49px;
  position: relative;
  margin: 0;
  background-color: #000;
}
.separator {
  position: relative;
  width: 1px;
  height: 24px;
  background-color: #b5bcbd;
  margin: 0 20px;
  top: 11;
  left: -16;
}

.s-separator {
  position: relative;
  width: 1px;
  height: 15px;
  background-color: #b5bcbd;
  margin: 0 5px;
  top: 20;
  left: -6;
}

.bigger-text {
  font-family: "DINNext";
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  
}

.smaller-text {
  font-family: "DINNext";
  font-size: 0.60rem;
  line-height: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.social-icon-kids {
  background-image: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/footer/kids-4a568b676f8f.svg);
  margin-right: 16px;
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.sm-col {
  margin-right: 16px;
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termsColSty {
  display: flex;
  justify-content: center;
}

.startTerm{
  display: flex;
  margin-bottom: -5px;
}
.lastTerm{
  display: flex;
  justify-content: flex-start;
}

.Section2ClipsDiv{
  height: 718px;
  width: 1225px;
} 
.iconSize{
  font-Size: 20px;
}
