/*Código CSS App.js*/
.App {
  text-align: center;
}

/*Código para el fondo de color negro con img*/
.base-bg {
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_v2_96b6d74a.jpeg?region=0%2C0%2C2048%2C1600);
  background-position: center top;
  background-repeat: repeat;
  position: fixed;
  top: 0 !important;
  min-height: 100vh;
  left: auto !important;
}

.base-bg,
.secondary-bg {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Section_container {
  display: flex;
  justify-content: center;
}

.Sections_Items_container {
  width: 1600px;
}

.App-header {
  color: white;
  height: 250px;
  background-color: #000000;
  font-size: calc(10px + 2vmin);
  outline: 1px solid #888;
  display: flex;
  flex-direction: column;
}

/*Codigo Yosh CSS*/
.principal-header {
  height: 183px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.local-nav-logo {
  width: 230px;
  height: 100px;
  overflow: hidden;
}

.local-nav-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Modulo Header titulo */
.AppBarInfoDiv {
  margin-top: auto;
}
.AppBarListInfo {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.AppSocial-li {
  list-style-type: none;
  margin-right: 10px;
}
.AppBarInfoElement {
}

/*Componentes Social Icons y searchIcons.*/
.social {
  margin-right: -20px;
}

.listIconsSocial {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.social-icon button {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.search-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  text-transform: uppercase;
}

.local-nav-logo {
  margin: 34px;
}

/*Componente de social icons*/
.searchbar {
  margin: 52;
  width: 298px;
}

.social-links {
  margin: 40px;
}

.inputContainer {
  position: relative;
}

.inputContainer input {
  width: 350px;
}

.inputContainer .IconSearch {
  position: absolute;
  top: 2px;
  right: 260px;
  height: 30px;
}

.inputContainer button {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px;
}

a:visited {
  color: #99999999;
}

.SubBarInfor {
  background-color: #0a0b0b;
  height: 66px;
  padding-top: 10px;
  border-top: #4e4e4edd solid 1px;
  color: #fff;
}

.SubBarListLI {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Component content Hero*/
.SectionContentHero {
  width: 1600px;
  height: 640px;
  background: #9b9b9bdd;
}

/*NewFeaturesCarousel*/
.DivMaster {
  height: 325px;
  width: 1600px;
  background-color: #000;
  border: 2px solid black;
}

.afterSpanInDiv {
  display: inline-block;
  border-top: 2px solid #000;
  margin: 5px 0;
}

.DivTitle {
  background-color: #000;
  color: white;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DINNext";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}
.afterSpan {
  display: inline-block;
  border-top: 2px solid rgb(55,60, 62);
  margin: 10px 0;
}
.NewFeaturesCarousel {
  height: 325px;
  width: 1600px;
  background-color: #000;
}

.NewFeaturesCarouselItem {
  height: 312px;
  width: 448px;
  display: flex;
  align-items: center;
}

.NewFeaturesCarouselItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NewFeactureGroupItem {
  margin-left: 8px;
  margin-right: 8px;
}

.NewFeaturesCarouselImg {
  height: 141px;
  width: 448px;
}

.NewFeaturesCarouselElement {
  background: #1d1e1f;
  height: 125px;
  width: 448px;
  position: relative;
  color: #fff;
}

.bot-a-final {
  background-color: #000;
  color: white;
  min-height: 0;
  min-width: max-content;
  margin: 0 0 0 24px;
  padding-right: 20px;
  padding-left: 0;
  position: relative;
  font-family: "DINNext";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin-left: auto;
  text-decoration: none;
}

.bot-a-final-after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  background-image: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/icons/view_all_icon-ddd4c2e76fa3.svg);
  background-repeat: no-repeat;
  background-position: 10px 3px;
  background-size: 9px;
  top: 0;
}

/*Código de la notch*/
.notch {
  width: 6rem;
  height: 1rem;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 40px;
}

.notch-rigth-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  background-color: #000;
  transform-origin: bottom right;
  transform: skew(45deg);
  margin-left: 6rem;
}

.notch-left-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  background-color: #000;
  transform-origin: bottom right;
  transform: skew(-45deg);
  margin-left: -1rem;
}

/*
Codigo CCS de Peter
*/
.carousel {
  background-color: black;
}
.carousel-item img {
  width: 100%; /* Ajusta el ancho de las imágenes según tus necesidades */
  height: auto; /* Ajusta la altura de las imágenes según tus necesidades */
}

.carousel-caption {
  color: white; /* Cambia el color del texto de la descripción */
}

.carousel-caption h3 {
  font-size: 24px; /* Ajusta el tamaño del título */
}

.carousel-caption p {
  font-size: 16px; /* Ajusta el tamaño del texto de descripción */
}

.carousel-caption a {
  color: yellow; /* Cambia el color de los enlaces */
}

.carousel-caption button {
  background-color: blue; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
  border: none; /* Quita los bordes del botón si lo deseas */
  padding: 10px 20px; /* Ajusta el padding del botón según tus necesidades */
}

/*
Codigo CCS de Tony
*/
.footer {
  padding: 32px 22px;
  background-image: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/footer/flourish-6a31057fffa9.svg);
  background-repeat: no-repeat;
  background-position: 22px 0;
  background-size: 52px 49px;
  position: relative;
  margin: 0;
  background-color: #000;
}
.icons-separator {
  position: relative;
  width: 1px;
  height: 24px;
  background-color: #b5bcbd;
  margin: 0 20px;
  top: 11;
  left: -16;
}

.text-separator {
  position: relative;
  width: 1px;
  height: 15px;
  background-color: #b5bcbd;
  margin: 0 5px;
  top: 20;
  left: -6;
}

.bigger-text {
  font-family: "DINNext";
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.smaller-text {
  font-family: "DINNext";
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

.social-icon-kids {
  background-image: url(https://static-mh.content.disney.io/matterhorn/assets/starwars/footer/kids-4a568b676f8f.svg);
  margin-right: 16px;
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.social-icon-kids:link {
  color: white;
  text-decoration: none;
}
.social-icon-kids:visited {
  color: white;
}
.social-icon-kids:hover {
  color: red;
}
.sm-col {
  margin-right: 16px;
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-col:link {
  color: white;
  text-decoration: none;
}
.sm-col:visited {
  color: white;
}

.sm-col:hover {
  color: grey;
}

.terms-Col-Style {
  display: flex;
  justify-content: center;
}

.start-Term {
  display: flex;
  margin-bottom: -5px;
}
.last-Term {
  display: flex;
  justify-content: flex-start;
}

.Section2ClipsDiv {
  height: 718px;
  width: 1225px;
}
.iconSize {
  font-size: 20px;
}
