.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*Codigo Yosh CSS*/ 
.principal-header{
  height: 183px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.local-nav-logo {
  width: 230px;
  height: 100px;
  overflow: hidden;
}

.local-nav-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.listIcons{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
}


.social-icon{
  list-style-type: none;
  margin-right: 10px;
}


.social-icon button {
  border: none;
  background: none;
  padding: 0;
}

.h3 {
  color: white !important;
}

.local-nav-logo{
  margin: 34px;
}

.searchbar{
  margin: 52px;
}

.social-links{
  margin: 40px;
}

.searsicon{
  margin-left: 40px;

}

a:visited {
  color: #99999999;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.SubBarInfor{
  background-color: #0a0b0b;
  width: 100vw;
  height: 66px;
  padding-top: 10px;
  border-top: #dddddddd solid 1px;
}

.SubBarListLI{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AppBarInfoDiv{
  margin-left: 52px;
}

.carousel {
  background-color: black;
}
.carousel-item img {
  width: 100%; /* Ajusta el ancho de las imágenes según tus necesidades */
  height: auto; /* Ajusta la altura de las imágenes según tus necesidades */
}

.carousel-caption {
  color: white; /* Cambia el color del texto de la descripción */
}

.carousel-caption h3 {
  font-size: 24px; /* Ajusta el tamaño del título */
}

.carousel-caption p {
  font-size: 16px; /* Ajusta el tamaño del texto de descripción */
}

.carousel-caption a {
  color: yellow; /* Cambia el color de los enlaces */
}

.carousel-caption button {
  background-color: blue; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
  border: none; /* Quita los bordes del botón si lo deseas */
  padding: 10px 20px; /* Ajusta el padding del botón según tus necesidades */
}
